<footer>
    <style>
        .footer {
            background-color: transparent;
            color: black;
            text-align: center;
            padding: 20px 0;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        .footer p {
            margin: 0;
            padding: 0;
        }
    </style>
    
    <div class="footer">
        <p>More information
            <a href="#" style="color: black;">Contact</a>, 
            <a href="#" style="color: black;">About</a>, 
            <a href="#" style="color: black;">Privacy</a>
        </p>
    </div>
</footer>
