<!DOCTYPE html>
<html>
<%- include('partials/header', { title: 'Home Page' }) %>
<!--
    The page to create polls including
    - list of canidates (name, party, office)
    - Precinct (name, address, zipcode)
-->
<head>
    <title>Admin Panel - poll Setup</title>
    <!-- Include Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .custom-container {
            max-width: 2000px; /* Set your desired width */
            margin: auto; /* For center alignment */
        }
        .custom-card-width {
            max-width: 800px; /* or any width you desire */
            margin: auto; /* Keeps it centered */
        }
        .h2 {
            color: #0b3962;
            position: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        var candidates = []; // Array to store candidates
        var precincts = []; // Array to store precincts
    
        function addCandidate() {
            var firstName = document.getElementById("candidate-first-name").value;
            var lastName = document.getElementById("candidate-last-name").value;
            var party = document.getElementById("candidate-party").value;
            var office = document.getElementById("candidate-office").value;

            if (!firstName || !lastName || !party || !office) {
                alert("Please fill in all fields for the candidate.");
                return;
            }

            var candidate = {
                firstName: firstName,
                lastName: lastName,
                party: party,
                office: office
            };
            candidates.push(candidate);

            var candidateInfo = firstName + ' ' + lastName + ', ' + party + ' - ' + office;
            var list = document.getElementById("candidate-list");
            var entry = document.createElement("li");
            entry.appendChild(document.createTextNode(candidateInfo));
            list.appendChild(entry);

            document.getElementById("candidate-first-name").value = '';
            document.getElementById("candidate-last-name").value = '';
            document.getElementById("candidate-party").value = '';
            document.getElementById("candidate-office").value = '';       
            updateCandidatesInput(); // Update the hidden input field
        }
    
        function addPrecinct() {
            var name = document.getElementById("precinct-name").value;
            var address = document.getElementById("precinct-address").value;
            var zipCode = document.getElementById("precinct-zip-code").value;

            if (!name || !address || !zipCode) {
                alert("Please fill in all fields for the precinct.");
                return;
            }

            var precinct = {
                name: name,
                address: address,
                zipCode: zipCode
            };
            precincts.push(precinct);

            var precinctInfo = name + ', ' + address + ' - ' + zipCode;
            var list = document.getElementById("precinct-list");
            var entry = document.createElement("li");
            entry.appendChild(document.createTextNode(precinctInfo));
            list.appendChild(entry);

            document.getElementById("precinct-name").value = '';
            document.getElementById("precinct-address").value = '';
            document.getElementById("precinct-zip-code").value = '';
            updatePrecinctsInput(); // Update the hidden input field
        }
    
        // function updateCandidatesInput() {
        //     var candidateStrings = candidates.map(function(candidate) {
        //         return candidate.firstName + ' ' + candidate.lastName + ', ' + candidate.party + ' - ' + candidate.office + ';';
        //     });
    
        //     var candidatesInput = document.getElementById("candidates-json");
        //     candidatesInput.value = candidateStrings.join(', ');
        // }
        function updateCandidatesInput() {
            var candidatesJson = JSON.stringify(candidates);
            var candidatesInput = document.getElementById("candidates-json");
            candidatesInput.value = candidatesJson;
            return candidatesJson; // Return the JSON string
        }

        function updatePrecinctsInput() {
            var precentJson = JSON.stringify(precincts);
            var precinctsInput = document.getElementById("precincts-json");
            precinctsInput.value = precentJson;
            return precentJson;
        }

    
        // function updatePrecinctsInput() {
        //     var precinctStrings = precincts.map(function(precinct) {
        //         return precinct.name + ', ' + precinct.address + ' - ' + precinct.zipCode + ';';
        //     });
    
        //     var precinctsInput = document.getElementById("precincts-json");
        //     precinctsInput.value = precinctStrings.join(', ');
        // }
    
        $(document).ready(function() {
            $('#pollForm').on('submit', function(e) {
                e.preventDefault(); // Prevent default form submission
    
                updateCandidatesInput(); // Update candidates before submitting
                updatePrecinctsInput(); // Update precincts before submitting
    
                $('#pollForm')[0].submit(); // Submit the form with the updated data
            });
        });
    </script>    
</head>
<body>
    <div class="custom-container">
        <div class="card custom-card-width border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-lg-40">
                <h2 class="h2">Admin Panel - Poll Management</h2>
                <br>
                <form action="/setuppoll" method="post" id="pollForm">

                    <!-- Title for Poll and Poll Date on the same line -->
                    <div class="form-group row">
                        <!-- Title for Poll -->
                        <div class="col-md-6">
                            <label for="title">Title for Poll:</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Title for Poll" required>
                        </div>

                        <!-- Poll Date -->
                        <div class="col-md-6">
                            <label for="date">Poll Date:</label>
                            <input type="date" class="form-control" id="date" name="date" required onclick="this.focus();">
                        </div>
                    </div>

                    
                    <div class="form-group row">
                        <!-- Start Time -->
                        <div class="col-md-6">
                            <label for="start_time">Start Time:</label>
                            <input type="time" class="form-control" id="start_time" name="start_time" required>                        </div>
                    
                        <!-- End Time -->
                        <div class="col-md-6">
                            <label for="end_time">End Time:</label>
                            <input type="time" class="form-control" id="end_time" name="end_time" required>                        </div>
                    </div>

                    <!-- Precinct -->
                    <div class="form-group">
                        <label for="precincts">Precincts:</label>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" id="precinct-name" class="form-control" placeholder="Precinct Name">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="precinct-address" class="form-control" placeholder="Address">
                            </div>
                            <div class="col-md-4">
                                <input type="text" id="precinct-zip-code" class="form-control" placeholder="Zip Code">
                            </div>
                            <div class="col-md-12 mt-3">
                                <button type="button" class="btn btn-primary" onclick="addPrecinct()">Add Precinct</button>
                            </div>
                        </div>
                        <ul id="precinct-list" class="mt-3"></ul>
                    </div>
                    <input type="hidden" name="precincts" id="precincts-json">



                    <!-- Candidates -->
                    <div class="form-group">
                        <label for="candidates">Candidates:</label>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" id="candidate-first-name" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="candidate-last-name" class="form-control" placeholder="Last Name">
                            </div>
                            <!-- Party Dropdown -->
                            <div class="col-md-3">
                                <select id="candidate-party" class="form-control">
                                    <option value="" disabled selected>Select a Party</option>
                                    <option value="Democratic">Democratic</option>
                                    <option value="Republican">Republican</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>

                            <!-- Office Dropdown -->
                            <div class="col-md-3">
                                <select id="candidate-office" class="form-control">
                                    <option value="">Select Office</option>
                                    <option value="President">President</option>
                                    <option value="United States Senate">United States Senate</option>
                                    <option value="United States House of Representatives">United States House of Representatives</option>
                                    <option value="Governor">Governor</option>
                                    <option value="Lieutenant Governor">Lieutenant Governor</option>
                                    <option value="Secretary of State">Secretary of State</option>
                                    <option value="Attorney General">Attorney General</option>
                                    <option value="State Supreme Court Justices">State Supreme Court Justices</option>
                                    <option value="Comptroller">Comptroller</option>
                                    <option value="Treasurer">Treasurer</option>
                                    <option value="State Senators">State Senators</option>
                                    <option value="State Legislators">State Legislators</option>
                                </select>
                            </div>

                            <div class="col-md-12 mt-3">
                                <button type="button" class="btn btn-primary" onclick="addCandidate()">Add Candidate</button>
                            </div>
                        </div>
                        <ul id="candidate-list" class="mt-3"></ul>
                    </div>
                    <input type="hidden" name="candidates" id="candidates-json">

                    

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Set Up poll</button>

                </form>
            </div>
        </div>            
    </div>

    <!-- Include Bootstrap JS and jQuery libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
