<!DOCTYPE html>
<%- include('partials/header', { title: 'Home Page' }) %>
<link rel="stylesheet" href="/css/style.css">
<html>
<head>
    <title>Registration Successful</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-primary text-center">Registeration is successful</h1>
    <p class="text-success text-center">Your registeration is complete, kindly wait for the admin to accept your request, you will be notified via email once your request is approved.<p class="text-danger text-center"> Voter ID: <%= voterId %></p></p>
    <div class="text-center">
        <a href="/login" class="btn btn-primary">Go to Login</a>
    </div>
</body>
</html>