<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-primary text-center">Registration is successful</h1>
    <p class="text-success text-center">Your voter id = <p class="text-danger text-center"><%= voterId %></p>, kindly take a note of it.</p>
</body>
</html>